<div class="sign-up contain nlf-column gap:15">
  <header class="full text-align:center">
    <h3 class="title-1">sign up</h3>
  </header>

  <div class="card full">
    <form class="nlf-column gap:15" [formGroup]="signUpForm" (ngSubmit)="signup()">
      <input
        formControlName="firstName"
        type="text"
        placeholder="first name"
        [ngClass]="{ 'invalid': signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched }"/>
      <input
        formControlName="lastName"
        type="text"
        placeholder="last name"
        [ngClass]="{ 'invalid': signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched }"/>
      <input
        formControlName="email"
        type="email"
        placeholder="email"
        [ngClass]="{ 'invalid': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched }"/>
      <input
        formControlName="password"
        type="password"
        placeholder="password"
        autocomplete="off"
        [ngClass]="{ 'invalid': signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched }"/>
      <button class="btn btn--primary full" type="submit" [disabled]="!signUpForm.valid">register now</button>
      <a class="btn btn--secondary full" routerLink="/login">already have an account?</a>
    </form>
  </div>
</div>
