<div class="settings contain nlf-column gap:15">
  <app-page-header title="Settings"></app-page-header>

  <div *ngIf="(user$ | async) as user" class="settings__info card full">
    <!-- TODO: display name -->
    <div class="settings__item nlf-middle gap:05">
      <strong class="title-6 fit">Name:</strong>
      <span class="text-transform:lowercase">{{ user.displayName }}</span>
    </div>

    <div class="settings__item nlf-middle gap:05">
      <strong class="title-6 fit">Email:</strong>
      <span class="text-transform:lowercase">{{ user.email }}</span>
    </div>

    <!-- TODO: notifications? -->
    <form class="settings__item nlf-middle gap:10">
      <strong class="title-6 fit">Notifications:</strong>
      <label class="nlf-middle gap:05" for="notifications">
        <input
          type="checkbox"
          id="notifications"
          name="notification"
          value="notifications"/>
        <span class="enabled">Enabled</span>
        <span class="disabled">Disabled</span>
      </label>
    </form>

    <!-- Logout -->
    <button class="btn btn--secondary full" (click)="logout()">Logout</button>
  </div>
</div>
