@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root {
  // global
  --100vh: calc(var(--vh, 1vh) * 100);
  --main-width: 120rem;
  --contain-width: 48rem;
  --transition: 200ms ease 0s;
  --bottom-menu-height: calc(4rem + env(safe-area-inset-bottom));

  // colors
  --copy: #626265;
  --title: #191919;
  --container: #ffffff;
  --background: #f2f2f5;
  --border: #dddee3;
  --primary: #ffa8c0;
  --secondary: #ffe4b1;
  --white: #ffffff;

  // border-radius
  --border-radius-l1: 1rem;
  --border-radius-l2: 0.75em;
  --border-radius-l3: 0.5rem;

  // typography
  font-family: 'Inter', sans-serif;
  --line-height: 1.8;
  --font-weight: 500;
  --title-1-fs: 2rem;
  --title-2-fs: 1.75rem;
  --title-3-fs: 1.5rem;
  --title-4-fs: 1.25rem;
  --title-5-fs: 1.125rem;
  --title-6-fs: 1rem;
  --title-lh: 1.2;
  --title-fw: 700;
  --btn-lh: 1.2;
  --btn-fw: 500;

  // sizing
  --full: 100%;
  --half: 50%;
  --third: calc(100% / 3);
  --two-thirds: calc(var(--third) * 2);
  --fourth: 25%;
  --three-fourths: 75%;
  --fifth: 20%;
  --two-fifths: 40%;
  --three-fifths: 60%;
  --four-fifths: 80%;
  --sixth: calc(100% / 6);
  --five-sixths: calc(var(--sixth) * 5);
  --seventh: calc(100% / 7);
  --eighth: calc(100% / 8);
}
