.snackbar {
  --snackbar-bg: transparent;
  --snackbar-bc: transparent;
  --snackbar-c: inherit;
  position: fixed;
  width: 100%;
  max-width: calc(var(--contain-width) - (var(--content-padding) * 2));
  bottom: calc(var(--content-padding) + env(safe-area-inset-bottom));
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem 1rem;
  background-color: var(--snackbar-bg);
  border-radius: var(--border-radius-l2);
  border: 1px solid var(--snackbar-bc);
  color: var(--snackbar-c);

  &--type-info {
    --snackbar-c: var(--blue);
    --snackbar-bg: var(--blue-auxiliary);
    --snackbar-bc: var(--blue);
  }

  &--type-success {
    --snackbar-c: var(--green);
    --snackbar-bg: var(--green-auxiliary);
    --snackbar-bc: var(--green);
  }

  &--type-error {
    --snackbar-c: var(--red);
    --snackbar-bg: var(--red-auxiliary);
    --snackbar-bc: var(--red);
  }

  &--has-exit {
    padding-right: 2.5rem;
  }

  &__exit {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  span {
    font-size: 0.875rem;
  }
}
