<div class="login contain nlf-column gap:15">
  <app-page-header title="Login"></app-page-header>

  <div class="card full">
    <form class="nlf-column gap:15" [formGroup]="loginForm" (ngSubmit)="login()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        [ngClass]="{ 'invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"/>

      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
        [ngClass]="{ 'invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"/>

      <button *ngIf="!isLoggingIn"
              class="btn btn--primary"
              type="submit"
              [disabled]="!loginForm.valid"
      >Sign In
      </button>

      <ng-container *ngIf="isLoggingIn">
        <ng-container *ngTemplateOutlet="loadingButton"></ng-container>
      </ng-container>

      <a class="btn btn--secondary full" routerLink="/sign-up">No account? Register here</a>

      <div class="login__recover-password nlf-middle-center full">
        <button *ngIf="!isRecoveringPassword" class="link text-align:center tull" (click)="recoverPassword()">Forgot
          your password?
        </button>

        <ng-container *ngIf="isRecoveringPassword">
          <ng-container *ngTemplateOutlet="loadingButton"></ng-container>
        </ng-container>
      </div>
    </form>
  </div>
</div>

<ng-template #loadingButton>
  <button class="btn btn--primary">
    <app-button-loader></app-button-loader>
  </button>
</ng-template>
