<div class="login contain nlf-column gap:15">
  <header class="full text-align:center">
    <h3 class="title-1">login</h3>
  </header>

  <div class="card full">
    <form class="nlf-column gap:15" [formGroup]="loginForm" (ngSubmit)="login()">
      <input
        formControlName="email"
        type="email"
        placeholder="email"
        [ngClass]="{ 'invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"/>
      <input
        formControlName="password"
        type="password"
        placeholder="password"
        autocomplete="off"
        [ngClass]="{ 'invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"/>
      <button class="btn btn--primary" type="submit" [disabled]="!loginForm.valid">sign in</button>
      <a class="btn btn--secondary full" routerLink="/sign-up">no account? register here</a>
    </form>
  </div>
</div>
