.scaffold {
  height: var(--100vh);

  &__content {
    height: calc(var(--100vh) - var(--bottom-menu-height));
    background-color: var(--background);
    padding: calc(var(--content-padding) + env(safe-area-inset-bottom)) var(--content-padding) var(--content-padding);
    overflow: auto;

    &--no-bottom-menu {
      height: var(--100vh);
      padding-bottom: calc(var(--content-padding) + env(safe-area-inset-bottom));
    }
  }
}
