html {
  font-size: 16px;
  text-transform: lowercase;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: var(--main-width);
  margin: {
    left: auto;
    right: auto;
  }
  position: relative;
}

.contain {
  width: 100%;
  max-width: var(--contain-width);
  margin: {
    left: auto;
    right: auto;
  }
  position: relative;
  overflow: hidden;
}

router-outlet:empty {
  display: none;
}
