body {
  color: var(--copy);
  background-color: var(--container);
}

// titles
[class*='title-'] {
  color: var(--title);
}

// buttons
.btn {
  &--primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &--secondary {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
  }
}

// links
a,
.link {
  color: var(--primary);
}

// forms
input,
select {
  background-color: var(--container);
  border-color: var(--border);

  &:not(.disabled):not([type='checkbox']):focus,
  &:not(.disabled):not([type='checkbox']):focus-within {
    border-color: var(--secondary);
  }

  &.invalid {
    border-color: var(--red);
  }
}

input[type='checkbox'] {
  border-color: var(--primary);

  &:checked {
    background-color: var(--primary);
  }
}

// pseudo components
.card {
  background-color: var(--container);
  border-color: var(--border);
}
