input,
select {
  color: var(--title);
  height: var(--tap-height);
  padding: 0.25rem 0.5rem;
  outline: none;
  border-radius: var(--border-radius-l3);
  border-style: solid;
  border-width: 1px;
  transition: border-color var(--transition);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:not(.full) {
    width: 100%;
  }
}

select {
  color: var(--copy);
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  margin-bottom: -0.125rem;
}
