body {
  font-family: var(--main-font);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

[class*='title-'] {
  line-height: var(--title-lh);
  font-weight: var(--title-fw);
  text-transform: var(--title-tt);
}

.title-1 {
  font-size: var(--title-1-fs);
}

.title-2 {
  font-size: var(--title-2-fs);
}

.title-3 {
  font-size: var(--title-3-fs);
}

.title-4 {
  font-size: var(--title-4-fs);
}

.title-5 {
  font-size: var(--title-5-fs);
}

.title-6 {
  font-size: var(--title-6-fs);
}


a,
.link,
.btn {
  line-height: var(--btn-lh);
  font-weight: var(--btn-fw);
  text-transform: var(--btn-tt);
}

label,
input,
select,
textarea {
  text-transform: var(--form-tt);
}
